<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
</head>
<body>
    <header class="bg-secondary p-3">
        <div class="d-flex align-items-center">
            <div class="unt">
                <img class="img-fluid" src="/img/insigniaUnt.png" alt="insigniaUnt">
            </div>
            <div class="container-xl">
                <h1 class="fw-bold text-white titulo fs-1">Universidad Nacional de Trujillo</h1>
            </div>
        </div>
    </header>

    <main class="bg-primary">
        <div class="container-xl">
            <div class="row d-flex justify-content-center justify-content-md-around align-items-center">
                <div class="col-md-6">
                    <img class="img-fluid" src="/img/Error404.png" alt="capybara">
                </div>
                <div class="col-md-6 w-50">
                    <h1 class="fw-bold titulo-404 mb-5">Hemos buscado a conciencia</h1>
                    <p class="fs-5">Sin embargo, parece que la página que buscas ya no existe</p>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/bootstrap.bundle.min.js" ></script>
</body>
</html>