<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
</head>
<body>
    <header class="bg-secondary p-3">
        <div class="d-flex align-items-center">
            <div class="unt">
                <img class="img-fluid" src="/img/insigniaUnt.png" alt="insigniaUnt">
            </div>
            <div class="container-xl">
                <h1 class="fw-bold text-white titulo fs-1">Universidad Nacional de Trujillo</h1>
            </div>
        </div>
    </header>

    <section class="bg-primary p-5">
        <div class="container-xl">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6 bg-white registro-alumno">
                    <form class="p-5 m-5" method="POST" action="/api/usuario/crear">
                        <legend class="fw-bold text-center Registro-Alumno">Registrar Alumno</legend>
                        <div class="pt-4">
                            <label class="form-label titulo-label">Nombre:</label>
                            <input class="form-control" type="text" name="nombres">
                        </div>
                        <div class="pt-4">
                            <label class="form-label titulo-label">Apellidos:</label>
                            <input class="form-control" type="text" name="apellidos">
                        </div>
                        <div class="pt-4">
                            <label class="form-label titulo-label">Usuario:</label>
                            <input class="form-control" type="text" name="codigo">
                        </div>
                        <div class="pt-4">
                            <label class="form-label titulo-label">Contraseña:</label>
                            <input class="form-control" type="password" name="clave">
                        </div>
                        <div class="pt-4">
                            <label class="form-label titulo-label">Correo:</label>
                            <input class="form-control" type="email" name="correo">
                        </div>
                        <div class="pt-4">
                            <label class="form-label titulo-label">ID Rol:</label>
                            <input class="form-control" type="number" name="id_rol">
                        </div>
                        <div class="container-xl text-center">
                            <button type="submit" class="btn btn-primary px-4 py-3">Registrarse</button>
                        </div>
                        
                    </form>

                </div>
            </div>
        </div>
        
    </section>
    <script src="/js/bootstrap.bundle.min.js" ></script>
</body>
</html>