:root {
  --morado: #4f378a;
  --blanco: #e6e1e2;
}

.titulo {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 4rem;
}

.titulo-label {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.unt {
  width: 15rem;
  margin-right: 15rem;
}
.usuario {
  background-image: url(../img/Usuario.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 200px; /* O el tamaño que necesites */
  height: 200px;
  margin: auto;
  margin-top: -10rem;
}
.login {
  padding: 10rem;
  margin-bottom: 0;
}
.login-container {
  border-radius: 4rem;
  width: 50%;
}

.bg-primary {
  background-color: var(--blanco) !important;
}
.bg-secondary,
.btn-primary {
  background-color: var(--morado) !important;
}
.btn-primary {
  border: none;
}
.boton-login {
  transition: transform 0.2s ease;
}
.boton-login:hover {
  transform: scale(1.2);
}

.registro-alumno {
  border-radius: 4rem;
}
.Registro-Alumno {
  text-transform: uppercase;
  color: var(--morado);
  font-size: 2rem;
}
.logo {
  width: 10rem;
  margin: auto;
}
.btn-secondary {
  background-color: var(--blanco);
  color: black;
  font-weight: bold;
}
.boton-inicio {
  transition: transform 0.2s ease;
}
.boton-inicio:hover {
  transform: scale(1.2);
  background-color: black;
  color: var(--blanco);
}
.text-secondary {
  color: var(--morado) !important;
}
.titulo-404 {
  font-size: 3rem;
}

.foto-docente {
  /* width: 150px; */
  height: 200px;
}
