<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/app.css" rel="stylesheet">
</head>
<body>
    <header class="bg-primary p-3">
        <div class="d-flex align-items-center">
            <div class="unt">
                <img class="img-fluid" src="../img/insigniaUnt.png" alt="insigniaUnt">
            </div>
            <div class="container-xl">
                <h1 class="fw-bold text-white titulo fs-1">Universidad Nacional de Trujillo</h1>
            </div>
        </div>
    </header>

    <section class="bg-secondary login">
        <div class=" container-xl bg-primary p-5 login-container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="usuario"></div>
                    <div class="mt-5 p-3">
                        <label class="form-label titulo-label" for="usuario">Usuario:</label>
                        <input class="form-control titulo-label" type="text" id="usuario">
                    </div>
                    <div class=" p-3">
                        <label class="form-label" for="Contraseña">Contraseña:</label>
                        <input class="form-control" type="password" id="Contraseña">
                    </div>
                    <div class="mt-5 d-flex container-xl justify-content-center gap-3">
                        <a class="btn btn-primary fw-bold py-2 px-5 boton-login">Ingresar</a>
                        <a class="btn btn-primary fw-bold py-2 px-5 boton-login">Registrar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../js/bootstrap.bundle.min.js" ></script>
</body>
</html>