<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/app.css" rel="stylesheet">
</head>
<body>
    <header class="bg-primary p-3">
        <div class="d-flex align-items-center">
            <div class="unt">
                <img class="img-fluid" src="../img/insigniaUnt.png" alt="insigniaUnt">
            </div>
            <div class="container-xl">
                <h1 class="fw-bold text-white titulo fs-1">Universidad Nacional de Trujillo</h1>
            </div>
        </div>
    </header>

    <section class="bg-secondary login">
        <div class="container-xl d-flex flex-column gap-3 align-items-center">
            <img class="img-fluid logo" src="../img/Usuario.png" alt="Logo">
 
            <a class="btn btn-secondary py-3 px-5 mt-5 boton-inicio">Alumno</a>
            <a class="btn btn-secondary py-3 px-5 mt-5 boton-inicio">Profesor</a>
            <a class="btn btn-secondary py-3 px-5 mt-5 boton-inicio">Secretaria</a>
        </div>
    </section>
    

    <script src="../js/bootstrap.bundle.min.js" ></script>
</body>
</html>